<div class="container">
  <h1 class="text-center mt-5">Prueba Cancelación de Gravamenes</h1>
  <form class="row py-5" >
    <div class="col-6">
      <div class="form-group gov-co-form-group col-12 mt-3">
        <app-select [divClasses]="'gov-co-dropdown w-100'" [labelClasses]="'mb-2'"
          [selectClasses]="'form-control selectpicker'" [optionsSelect]="optionsIdentificationType"
          [label]="'Tipo de documento*'" [idSelect]="'IdentificationType'" [titleSelect]="'Tipo de identificación'"
          (change)="changeSelectoptionsIdentificationType($event)" [optionSelected]="IdentificationTypeSelected"
          [requiredSelect]="'required'">
        </app-select>
      </div>


      <!-- <label for="identificationType" class="label-desplegable-govco">Tipo de identificación<span
          aria-required="true">*</span></label>
      <div class="desplegable-govco" style="width:255px; height: 40px;" id="identificationType" data-type="basic">
        <select aria-invalid="false" aria-describedby="alert-id">
          <option disabled selected>Escoger</option>
          <option value="1">Cédula de Ciudadania</option>
          <option value="2">Cédula de Extranjería</option>
          <option value="3">Pasaporte</option>
        </select>
      </div>
      <span class="alert-desplegable-govco" id="alert-id">Texto de ayuda</span> -->
    </div>
    <div class="col-6">
      <div class="entradas-de-texto-govco">
        <label for="id">Identificación*</label>
        <input type="text" id="id" placeholder="Ejemplo: 1234567890" (input)="setIdentification($event)" required />
      </div>
    </div>
    <div class="col-6">
      <div class="entradas-de-texto-govco">
        <label for="name">Nombres*</label>
        <input type="text" id="name" placeholder="Ejemplo: José María" (input)="setName($event)" required />
      </div>
    </div>
    <div class="col-6">
      <div class="entradas-de-texto-govco">
        <label for="last-name">Apellidos*</label>
        <input type="text" id="last-name" placeholder="Ejemplo: González Martínez" (input)="setLastName($event)" required/>
      </div>
    </div>
    <div class="col-6">
      <div class="entradas-de-texto-govco">
        <label for="email">Correo Electronico*</label>
        <div class="container-input-texto-govco">
          <input type="mail" id="email" aria-invalid="false" placeholder="Ej: correo@email.com" typeData="mail"
            (input)="setEmail($event)" required/>
          <div class="icon-entradas-de-texto-govco success-icon-entradas-de-texto-govco" aria-label="success"
            aria-hidden="true"></div>
          <div class="icon-entradas-de-texto-govco error-icon-entradas-de-texto-govco" aria-label="error"
            aria-hidden="true"></div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="entradas-de-texto-govco">
        <label for="address">Dirección*</label>
        <input type="text" id="address" placeholder="Ejemplo: Calle 4 sur # 55-23" (input)="setAddress($event)" required/>
      </div>
    </div>
    <div class="col-6">
      <div class="entradas-de-texto-govco">
        <label for="phone">Teléfono*</label>
        <div class="container-input-texto-govco">
          <input type="tel" id="phone" aria-invalid="false" placeholder="Ej: +57 310 4021752" typeData="phone"
            (input)="setPhone($event)" required />
          <div class="icon-entradas-de-texto-govco success-icon-entradas-de-texto-govco" aria-label="success"
            aria-hidden="true"></div>
          <div class="icon-entradas-de-texto-govco error-icon-entradas-de-texto-govco" aria-label="error"
            aria-hidden="true"></div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row mb-3">
        <app-deptos-ciudades class="col-12 d-flex flex-row" [divClasses]="'w-50'"
          (changeDepartamento)="settingDeptoId($event)" (changeCiudad)="settingCiudadId($event)" [propDeptoId]="deptoId"
          [propCiudadId]="ciudadId" [requiredCiudades]="'required'" [requiredDeptos]="'required'"></app-deptos-ciudades>
      </div>
    </div>
    <div class="col-12">
      <app-file-input [extensions]="['docx', 'doc', 'jpg', 'pdf']" [idElement]="'main-document'" [quantity]="1"
        [size]="20000" [label]="'Documento Principal*'" (loadFiles)="changeDoc($event)" (fileDeleted)="deleteFile($event)"></app-file-input>
    </div>
    <div class="col-12">
      <app-file-input [extensions]="['docx', 'doc', 'jpg', 'pdf']" [idElement]="'anexos'" [quantity]="10"
        [size]="200000" [label]="'Anexos*'" (loadFiles)="changeFiles($event)" (fileDeleted)="deleteFile($event)"></app-file-input>
    </div>

    <div class="col-12 py-4">
      <button type="submit" class="btn-govco fill-btn-govco" (click)="onUpload($event)" id="btnSubmit">Enviar</button>
    </div>
  </form>
</div>
